PORT=7001
ADMIN_USERNAME=2026@bluedot
ADMIN_PASSWORD=2026@bluedot
JWT_SECRET=change-me-to-a-long-random-secret
JWT_EXPIRES_IN=24h
BFF_BASE_URL=http://127.0.0.1:8080/api/v1
K8S_API_SERVER=https://127.0.0.1:16443
K8S_SKIP_TLS_VERIFY=true
K8S_TOKEN=
# K8S_AUTH_HEADER=Bearer <token>
# K8S_TOKEN_FILE=/var/run/secrets/kubernetes.io/serviceaccount/token
